################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AyJ-ETLs/.vs/AyJ-ETLs
